<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="header">
  <div class="container">
    <div class="menu">
      <a href="#0" class="logo">
      <img src="https://netology-code.github.io/html-2-diploma/sources/images/noemi-logo.svg" class="header-logo" alt="header-logo">
      </a>
      <nav class="head-menu">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="#0" class="menu-link">Главная</a>
          </li>
          <li class="menu-list-item">
            <a href="#0" class="menu-link">Посты</a>
          </li>
          <li class="menu-list-item">
            <a href="#0" class="menu-link">Статьи</a>
          </li>
          <li class="menu-list-item">
            <a href="#0" class="menu-link">Теги</a>
          </li>
          <li class="menu-list-item">
            <a href="#0" class="menu-link">Темы</a>
          </li>
          <li class="menu-list-item">
            <a href="#0" class="menu-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <h1 class="header-title">Блог о творчестве, спорте, и образе жизни</h1>
  </div>
</header>
<div class="main-content">
  <main class="main">
      <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="sunrise on a beach">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">10 мест, ради которых стоит проснуться на рассвете</a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="discription">Итак, вы в Питере. Раннее утро. Лед с рек и каналов уже ушел, запущены фонтаны города... Музеи еще закрыты. Что посмотреть?</p>
        </article>
      </div>
       <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="yoga on a beach">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">Йога для начинающих в
домашних условиях</a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="discription">Расскажем, какие упражнения выбрать и как сделать коврик для занятий йогой из того, что можно найти в шкафу.</p>
        </article>
      </div>
      <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg" alt="open air party">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">Лучшие музыкальные фестивали этого лета</a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="discription">Лето на носу, а с ним и музыкальные фестивали. На каком же из них вы разобьёте свою палатку?<br><br>Мы составили список лучших летних фестивалей по всему миру.</p>
        </article>
      </div>
       <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="food on a table">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">Наукоёмкий подход к кулинарии</a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="discription">Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.</p>
        </article>
      </div>
       <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg" alt="hangout spot">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">делаем модные принты на подушках для интерьера </a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="description">Подушки для дивана целесообразнее заказать в съемных чехлах на молнии, если потребуется чистка подушек, проще снять чехлы, чем везти подушку в химчистку.</p>
        </article>
      </div>
       <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg" alt="2 people on the edge of a cliff">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">Как первый раз отправиться в горы?</a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="discription">Для начала нужно определиться, в каком формате пройдёт ваше путешествие. Это зависит от многих факторов, не только от ваших желаний и интересов.</p>
        </article>
      </div>
       <div class="card">
        <img class="poster" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="food on a table">
        <article class="article">
            <div class="tag"> 
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">travel</a>
                </li>
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">health</a>
                </li>
              </ul>
            </div>
            <h2 class="article-title">
              <a class="title-link" href="#0">Наукоёмкий подход к кулинарии</a>
            </h2>
            <time class="time">10 июня 2019</time>
            <span class="autor">Неизвестный автор</span>
            <p class="discription">Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.</p>
        </article>
      </div>
  </main>
  <aside class="aside">
    <div class="new__posts">
      <header class="header__aside">новые посты</header>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="sunrise on a beach">
            <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">10 мест, ради которых стоит проснуться на рассвете</a>
            </article>
      </div>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="yoga on a beach">
            <article class="article_post">
              <time class="time">10 июня 2019</time>
              <a class="title-link-aside" href="#0">Йога для домашних</a>
            </article>
      </div>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="place of balcony">
            <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">Мы превратили классное место в балкон</a>
            </article>
      </div>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="food on the table">
            <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">Кулинарный подход к науке</a>
            </article>
      </div>
      <div class="posts">
              <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="hair of woman">
              <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">Лучшие прически для распущенных волос</a>
            </article>
      </div>
     </div>
    <div class="find">
      <input type="search" class="field" placeholder="Найти..." required>
      <button type="submit" class="button_search"></button>
    </div>
    <div class="mailing">
      <header class="header__aside">Рассылка</header>
      <form class="form">
        <input type="email" class="field-email" placeholder="Ваш email-адрес" required></intup>
      <button type="submit" class="button_email">Подписаться</button>
      </form>
    </div>
    <div class="tags">
      <header class="header__aside">Теги</header>
      <div class="tags_block">
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">fashion</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">music</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">lifestyle</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">art</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">interior</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">travel</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">food</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">health</a>
        </div>
       </div>
      </div>
    <div class="topics">
      <header class="header__aside">Темы</header>
      <div class="topics_block">
        <div class="topics_block_name">
            <a class="topic_block_link" href="#0">Красота</a>
            <a class="topic_block_link_number" href="#0">12</a>
        </div>
        <div class="topics_block_name">
             <a class="topic_block_link" href="#0">Здоровье</a>
             <a class="topic_block_link_number" href="#0">4</a>
        </div>
        <div class="topics_block_name">
             <a class="topic_block_link" href="#0">Образ жизни</a>
             <a class="topic_block_link_number" href="#0">145</a>
        </div>
        <div class="topics_block_name">
             <a class="topic_block_link" href="#0">Музыка</a>
             <a class="topic_block_link_number" href="#0">28</a>
        </div>
        <div class="topics_block_name">
             <a class="topic_block_link" href="#0">Спорт</a>
             <a class="topic_block_link_number" href="#0">62</a>
        </div>
        <div class="topics_block_name">
             <a class="topic_block_link" href="#0">Йога</a>
             <a class="topic_block_link_number" href="#0">8</a>
        </div>
      </div>
    </div>
  </aside>
</div>
  <footer class="footer">
    <div class="footer-logo">
     <a href="0#"><img class="logo_social" src="https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg" alt="иконка dribbble"></a>
     <a href="0#"><img class="logo_social" src="https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg" alt="иконка pinterest"></a>
     <a href="0#"><img class="logo_social" src="https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg" alt="иконка tumblr"></a>
    </div>
    <div class="copyright">Copyright © 2009–2019 City Blog LLC.</div>
  </footer>
<!-- partial -->
  
</body>
</html>
